{% extends 'Team/advanced_layout.html.twig' %}

{% block page_title %}
    {% apply spaceless %}
        {{ dashboard.title|default('Welcome')|trans }}
    {% endapply %}
{% endblock %}

{% block main %}

    {{ parent() }}

    <div class="dashboard-content row m-1">
        <div class="mt-3 pb-3 col-12 border-bottom border-light">
            <h3 class="text-primary mb-3">{{ 'Statistiques'|trans }} par année</h3>
            <span>{{ "Afficher"|trans }}</span>
            {% if years is defined and years|length > 0 %}
                <form action="{{ ea_url() }}" method="GET" id="yearSelected" class="d-inline-flex">
                    <select class="form-control form-select mb-2 yearSelected d-inline-flex" name="yearSelected" style="width: 100px;">
                        {% for year in years %}
                            <option value="{{ year }}" {% if yearSelected == year %}selected="selected"{% endif %}>
                                {{ year }}
                            </option>
                        {% endfor %}
                    </select>

                    <input type="hidden" name="menuIndex" value="{{ app.request.get('menuIndex') }}">
                    <input type="hidden" name="submenuIndex" value="{{ app.request.get('submenuIndex') }}">
                </form>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const select = document.querySelector('.yearSelected');
                        const form = document.getElementById('yearSelected');

                        if (!select || !form) {
                            return;
                        }

                        select.addEventListener('change', () => form.submit());
                    });
                </script>

                <div class="row">
                    {% if chartTripsByMonth is not null %}
                        <div class="p-4 col-lg-6">
                            <h5 class="text-primary mb-3">Nombre de trajets par mois pour l'année {{ yearSelected }}</h5>
                            {{ render_chart(chartTripsByMonth) }}
                        </div>
                    {% endif %}

                    

                    {% if chartAmountByMonth is not null %}
                        <div class="p-4 col-lg-6">
                            <h5 class="text-primary mb-3">Indemnités kilométriques par mois pour l'année {{ yearSelected }}</h5>
                            {{ render_chart(chartAmountByMonth) }}
                        </div>
                    {% endif %}

                </div>
                
                
                <h3 class="text-primary mb-3">{{ 'Statistiques globales'|trans }}</h3>
                <div class="row">

                    {% if chartTripsByYear is not null %}
                        <div class="p-4 col-lg-6">
                            <h5 class="text-primary mb-3">Nombre total de trajets par année</h5>
                            {{ render_chart(chartTripsByYear) }}
                        </div>
                    {% endif %}

                    {% if chartAmountByYear is not null %}
                        <div class="p-4 col-lg-6">
                            <h5 class="text-primary mb-3">Indemnités kilométriques totales par année</h5>
                            {{ render_chart(chartAmountByYear) }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>Vous n'avez pas encore de trajets.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
