{# templates/admin/_assistant_preview_content.html.twig #}
<div class="alert alert-info w-75 mt-3">
    <div>
        <strong>Prévisualisation des trajets à ajouter au Rapport de {{ report.getPeriod() }}</strong>
        <span class="badge rounded-pill bg-primary text-light">

            {% if previewTrips|length > 0 %}
                <i class="fa fa-plus me-1">{{ previewTrips|length }}</i> 
                {% if previewTrips|length > 1 %}
                    {{ "trajets"|trans }}
                {% else %}
                    {{ "trajet"|trans }}
                {% endif %}

            {% else %}
                {{ "Aucun trajet possible"|trans }}
            {% endif %}  

        </span>    
    </div>
    
</div>

<table class="table table-bordered w-75">
    <thead>
        <tr>
            <th style="display: none"></th>
            <th>Date</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th>Km</th>
            <th>Aller-retour</th>
            <th>Km total</th>
            <th style="display: none">Véhicule</th>
            <th>Montant</th>
            <th>Commentaire</th>
        </tr>
    </thead>
    <tbody>
        {% for trip in previewTrips %}
        <tr>
            <td style="display: none">{{ trip.date }}</td>
            <td class="text-nowrap">{{ trip.date|date('l')|trans }} <br /> {{ trip.date|date('d/m/Y') }}</td>
            <td>{{ trip.start }}</td>
            <td>{{ trip.end }}</td>
            <td>{{ trip.km }}</td>
            <td>{{ trip.is_return ? 'Oui' : 'Non' }}</td>
            <td>{{ trip.km_total }}</td>
            <td style="display: none">{{ trip.vehicule_id }}</td>
            <td>{{ trip.amount }} €</td>
            <td>{{ trip.comment }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">Aucun trajet à prévisualiser.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if previewTrips|length > 0 %}
{# Formulaire de confirmation #}
<form method="POST" action="{{ bulkCreateActionUrl }}">
    {# Champ caché pour les données des trajets #}
    <input type="hidden" name="trips" value="{{ previewTrips|json_encode|e('html_attr') }}">

    {# Boutons de confirmation/annulation #}
    <div class="mt-3">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i> Confirmer la création des trajets
        </button>
        <a href="{{ backUrl }}" class="btn btn-danger">
            <i class="fa fa-times"></i> Annuler
        </a>
    </div>
</form>
{% endif %}

