{% if field.value|length > 0%}
<table>
    <thead>
        <tr>
            <th>{{ 'Vehicule' }}</th>
            <th>{{ 'Distance' }}</th>
            <th>{{ 'Amount' }}</th>
        </tr>
    </thead>
    <tbody>
    {% for vr in field.value %}
        <tr>
            <td>{{ vr.Vehicule }}</td>
            <td>{{ vr.km }}</td>
            <td>{{ vr.total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}