{% extends 'Front/layout/base-layout-applab.html.twig' %}

{% form_theme form '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}

{% block javascripts %}
	<script type="text/javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
{% endblock %}

{% set pageTitle = "Contacter l'équipe Mileo"|trans %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block page_content %}


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-6">

        <div class="container-lg">
          <div class="row align-items-center">

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-primary m-0 mt-4" role="alert">
						{{ message|nl2br }}
					</div>
				{% endfor %}
			{% endfor %}

            <div class="col-md-6 text-center text-md-start mt-6">
              <h1 class="fw-bold fs-4 display-3 lh-sm">{{ pageTitle }}</h1>
			  	<p class="my-4 pe-xl-5">
				  Si vous n'avez pas trouvé de réponse à vos questions dans notre FAQ ou si vous souhaitez discuter d'un projet spécifique, 
				  remplissez le formulaire ci-contre pour être recontacté rapidement par un de nos collaborateurs.
				</p>
				<a class="btn btn-lg btn-outline-primary rounded-pill hover-top" href="{{ path('home') }}#faq" role="button">{{ 'Accéder à la FAQ'|trans }}</a>

				<p class="my-4 pe-xl-5">
					Notre équipe se tient également à votre disposition par téléphone au 0546894344 ou par email à contact(at)mileo.fr.
				</p>
				
				<div class="row align-items-center">
					<div class="col-lg-12 order-md-1 text-center text-md-start z-index-2 cta-image">
						<img class="img-fluid mb-4 mb-md-0" src="assets/img/illustrations/cta.png" width="850" alt="" />
					</div>
				</div>

            </div>

			<div class="col-md-6 order-md-0 text-center text-md-start mt-4">
			
				<div class="register">
						{{ form_start(form) }}
						
							<div class="contact-form">

							{{ form_row(form.name) }}
							{{ form_row(form.email) }}
							{{ form_row(form.phone) }}
							{{ form_row(form.company) }}
							{{ form_row(form.message) }}
							{#
									<p class="comment-form-author">
										 <label for="author">Your Name:</label>
										
									</p>
									<p class="comment-form-author">
										<label for="author">Email:</label>
										{{ form_widget(form.email) }}
									</p>
									<p class="comment-form-author">
										<label for="author">Message:</label> 
										{{ form_widget(form.message) }}
									</p>
									#}
									
								{{ form_row(form.captcha) }}
									
									<div>
										<input type="submit" class="btn btn-lg btn-primary rounded-pill hover-top" value="{{ 'Envoyer'|trans }}">
									</div>

							</div>
							
						{{form_rest(form)}}
						{{form_end(form)}}
						
						<div class="clearfix"></div>
					</div>
				
				</div>
          </div>

		  

        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


{% endblock %}

