<body style="background-color:#f4f4f4">

  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p"
    style="margin:auto;width:650px" width="650">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
            style="margin:auto;clear:both;width:650px" width="650">
            <tbody>
              <tr>
                <td class="m_h12px m_fz12px m_lh12px" height="10" style="height:10px;font-size:10px;line-height:10px">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center"
    style="margin:auto;background-color:#fff;width:650px" class="t_w100p m_w100p">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px"
          class="t_w100p m_mauto m_w100p">
          <tr>
            <td style="height:55px">
              <table cellpadding="0" cellspacing="0" border="0" width="162" align="left" style="width:162px"
                class="t_mauto t_w40p m_mauto m_w100p" role="presentation">
                <tr>
                  <td style="padding-top:13px;padding-bottom:11px;padding-left:20px;font-size: 20px; font-weight: bold;"
                    class="m_pr55px m_pl55px">
                    <span style="color: #6174d1 !important;"><font color="#6174d1">Mil</font></span><span style="color: #242F51 !important;"><font color="#242F51">eo</font></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p"
    style="margin:auto;width:650px" width="650">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
            style="margin:auto;clear:both;width:650px" width="650">
            <tbody>
              <tr>
                <td height="5" style="height:5px;background-color:#f4f4f4;font-size:5px;line-height:5px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center"
    style="margin:auto;background-color:#fff;width:650px" class="t_w100p m_w100p">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px"
          class="t_w100p m_mauto m_w100p">
          <tr>
            <td
                style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000000;text-align:left;font-size:12px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;vertical-align:middle;line-height:14px">
                <p style="color:#000000;line-height:14px;display:block;text-decoration:none;">
                Bonjour {{ order.getBillingName }},<br />
                <br />
                Nous vous confirmons que votre commande à bien été validée, nous vous remercions de votre confiance.<br /><br/>
                </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p"
    style="margin:auto;width:650px" width="650">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
            style="margin:auto;clear:both;width:650px" width="650">
            <tbody>
              <tr>
                <td height="5" style="height:5px;background-color:#f4f4f4;font-size:5px;line-height:5px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center"
    style="margin:auto;background-color:#fff;width:650px" class="t_w100p m_w100p">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px"
          class="t_w100p m_mauto m_w100p">
          <tr>
            <td
                style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000000;text-align:left;font-size:12px;padding-top:10px;padding-right:15px;padding-bottom:10px;padding-left:15px;vertical-align:middle;line-height:14px">
                <span style="font-weight: bold">Contact Facturation :</span><br />
                {{ order.getBillingName}}<br />
                {{ order.getBillingAddress }}<br />
                {{ order.getBillingPostCode }} {{ order.getBillingCity }}<br />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p"
    style="margin:auto;width:650px" width="650">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
            style="margin:auto;clear:both;width:650px" width="650">
            <tbody>
              <tr>
                <td height="5" style="height:5px;background-color:#f4f4f4;font-size:5px;line-height:5px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px"
    class="t_w100p m_w100p">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px"
          class="t_w100p m_w100p" role="presentation">
          <tr>
            <td
              style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000000;text-align:left;text-transform:none;font-size:22px;padding-top:10px;padding-bottom:10px;padding-left:20px;vertical-align:middle;line-height:24px;font-weight:bold"
              class="m_pt20px m_pr15px m_pl15px">
              Récapitulatif de votre commande
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  
    <table cellpadding="0" cellspacing="0" border="0" width="610" align="center" style="margin:auto;width:610px"
    class="t_w100p m_w100p">
		<thead>
			<tr style="background-color:#206db4" bgcolor="#206db4">
				<th
                    style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#fff;text-align:left;font-size:14px;padding-top:10px;padding-left: 15px;padding-bottom:10px;vertical-align:middle;font-weight:bold;widht:512"
                    class="m_fz11px" width="512">
                    Libellé
                 </th>
				 <th
                    style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#fff;text-align:center;font-size:14px;padding-top:10px;padding-bottom:10px;vertical-align:middle;widht:98px"
                    class="m_fz11px m_lh13px" width="98">
                    Montant
                    <br>HT
                 </th>
				 
			</tr>	
		</thead>
		<tbody>
			<tr >
				<td width="512" style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000;font-size:11px;padding-top:10px;padding-left:15px;padding-bottom:10px;vertical-align:middle;line-height:15px">
                    <div>
                        </p>
                        {{ order.getPlan()}}<br/>
                        Valide jusqu'au {{ order.getSubscriptionEnd()|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
                        <p>
                    </div>
                </td>	  
				<td width="98" style="font-family:Verdana,Tahoma,Segoe,sans-serif;text-align:center;font-size:11px;padding-top:10px;padding-left:15px;padding-bottom:10px;vertical-align:middle;">
                      {{ order.getTotalHt()|format_currency('EUR')}}
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>	  
        <td width="512" style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000;text-align:right;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle;font-weight:bold ">
          Total HT :
        </td>
        <td width="98" style="font-family:Verdana,Tahoma,Segoe,sans-serif;text-align:left;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle;font-weight:bold">
          {{ order.getTotalHt()|format_currency('EUR')}}
        </td>
			</tr>
			<tr>
        <td width="512" style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000;text-align:right;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle;font-weight:bold ">
          TVA :
        </td>
        <td width="98" style="font-family:Verdana,Tahoma,Segoe,sans-serif;text-align:left;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle;font-weight:bold">
          {{ order.getVatAmount()|format_currency('EUR')}}
        </td>
			</tr>
			<tr>  
        <td width="512" style="font-family:Verdana,Tahoma,Segoe,sans-serif;color:#000;text-align:right;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle; font-weight:bold">
          Total TTC :
        </td>
        <td width="98" style="font-family:Verdana,Tahoma,Segoe,sans-serif;text-align:left;font-size:11px;padding-left:15px;padding-bottom:10px;vertical-align:middle;font-weight:bold">
          {{ order.getTotalTTC()|format_currency('EUR')}}
        </td>
			</tr>
		</tfoot>
	</table>

  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
    style="margin:auto;clear:both;width:650px" width="650">
    <tbody>
      <tr>
        <td height="5" style="height:5px;font-size:5px;line-height:5px"></td>
      </tr>
    </tbody>
  </table>

  <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p"
    style="margin:auto;width:650px" width="650">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="t_w100p m_w100p" role="presentation"
            style="margin:auto;clear:both;width:650px" width="650">
            <tbody>
              <tr>
                <td height="5" style="height:5px;font-size:5px;line-height:5px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" style="margin:auto;width:650px">
    <tr>
      <td
        style="font-family:Arial,Helvetica,sans-serif;color:#b2b2b2;text-align:center;font-size:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;vertical-align:middle;line-height:12px">
        Mileo {{ "now"|date("Y") }}
        <br />
      </td>
    </tr>
  </table>

</body>
